################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServiceCourse.Api/.vs/ServiceCourse.Api/v17/.suo
/ServiceCourse.Api/bin/Debug/net7.0/ServiceCourse.Api.dll
/ServiceCourse.Api/bin/Debug/net7.0/ServiceCourse.Api.pdb
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.AssemblyInfo.cs
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.assets.cache
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.csproj.AssemblyReference.cache
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.MvcApplicationPartsAssemblyInfo.cs
/ServiceCourse.Api/obj/ServiceCourse.Api.csproj.nuget.g.props
/ServiceCourse.Api/obj/ServiceCourse.Api.csproj.nuget.dgspec.json
/ServiceCourse.Api/obj/project.nuget.cache
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.csproj.CoreCompileInputs.cache
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.csproj.FileListAbsolute.txt
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.dll
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.GeneratedMSBuildEditorConfig.editorconfig
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.pdb
/ServiceCourse.Api/obj/project.assets.json
/ServiceCourse.Api/obj/Debug/net7.0/ServiceCourse.Api.genruntimeconfig.cache
/ServiceCourse.Api/.vs/ProjectEvaluation/servicecourse.api.metadata.v7.bin
/ServiceCourse.Api/.vs/ServiceCourse.Api/v17/.futdcache.v2
/ServiceCourse.Api/.vs/ServiceCourse.Api/FileContentIndex/82af92a7-c509-4478-b307-dec8a4adf98f.vsidx
/ServiceCourse.Api/.vs/ServiceCourse.Api/FileContentIndex/0f13c6bd-a9ed-4135-b3ee-d05c3fef2a9a.vsidx
/ServiceCourse.Api/.vs/ServiceCourse.Api/FileContentIndex/67ed3b7b-c338-4f76-96c1-a068c5ec0c48.vsidx
/ServiceCourse.Api/.vs/ProjectEvaluation/servicecourse.api.projects.v7.bin
